.cell-game {
    border: 1px #f1f1f1 solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 4px;
}

.cell-game.is-x {
    color: #2cccff;
}

.cell-game.is-o {
    color: orange;
}