.board-game {
    width: 820px;
    height: 615px;
    /* border: 1px #ccc solid; */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 1px;

}