@font-face {
    font-family: 'Pony';
    src: url('../../assets/fonts/Pony.ttf');
}

#gourd-crab-shrimp-fish {
    font-family: 'Pony';
    /* background-color: rgb(255, 155, 2); */
    background-image: url('../../../public//image//gourd-crab-shrimp-fish//bg-luna-new-year-2024.avif');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 1500px;
}